.app__footer {
  background: rgb(184, 251, 63);
  background: radial-gradient(circle, rgba(184, 251, 63, 0.6951155462184874) 0%, rgba(0, 0, 0, 1) 100%);
  border-top: greenyellow 2px solid;
  padding: 0.5rem 0;

  width: 100%;
  //position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;


  a {
    text-decoration: none;
    display: flex;
    row-gap: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.6rem;
  }

  img {
    width: 2rem;
  }
}
