@import "../../style/colors.scss";

.app__footer {
  background: radial-gradient(circle, $color-gradient-1 0%, $color-gradient-2 100%);
  border-top: $color-1 2px solid;
  padding: 0.5rem 0;

  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  column-gap: 2rem;

  a {
    text-decoration: none;
    display: flex;
    row-gap: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-text-1;
    text-shadow: 0 0 30px $color-bg-2;
    font-size: 0.7rem;
  }

  img {
    width: 2rem;
  }
}
