$color-1: greenyellow;

$color-text-1: white;
$color-text-2: yellow;
$color-text-3: greenyellow;

$color-bg-1:rgba(22, 22, 22, 0.98);
$color-bg-2: black;
$color-bg-3: greenyellow;

$color-gradient-1: rgba(184, 251, 63, 1);
$color-gradient-2: rgba(0, 0, 0, 1);

$color-shadow: rgba(66, 68, 90, 1)
