@import "./colors.scss";
@import "./fonts.scss";
@import "./variables.scss";

@mixin mainContainer{
  background: $color-bg-1;
  -webkit-box-shadow: 1px 0px 100px 0px $color-shadow;
  -moz-box-shadow: 1px 0px 100px 0px $color-shadow;
  box-shadow: 1px 0px 100px 0px $color-shadow;
  border-radius: 2rem;
  border: $color-1 1px solid;
}

@mixin absolutePos{
  top: 0;
  left: 0;
  position: absolute;
}

@mixin navBtn{
  all: unset;
  cursor: pointer;
  position: absolute;
  display: block;
  background: transparent;

  img {
    width: 1.5rem;
    height: 1.5rem;
    transition-duration: 500ms;

    &:hover {
      width: 2rem;
      height: 2rem;
    }
  }
}
