@import "../../style/colors";
@import "../../style/variables";
@import "../../style/mixin";

.skills {
  &__box {
    background: $color-bg-1;
    padding: 4rem 2rem;
    @include mainContainer;
    position: relative;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto;
    @media only screen and (min-width: $media-min-width) {

      &--left {
        margin: 100px auto 50px 50px;
      }

      &--center {
        margin: 100px auto;
      }
      &--right {
        margin: 100px 50px 50px auto;
      }
    }
    .box{
      &__title{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
        background: inherit;
        border-left: $color-1 2px solid;
        border-right: $color-1 2px solid;
        border-radius: 1rem;
      }

      &__item{
        list-style: none;
        padding: 1rem;
        margin: 0.5rem;
        border: $color-2 2px dashed;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        column-gap: 0.4rem;
        text-align: center;
        &:hover{
          border: $color-3 2px solid;
          color: $color-text-3;
        }

        span{
          color: $color-text-3;
        }
      }
    }
  }
}
